

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 4px 6px;
  }
  
  header h1 {
    margin: 0;
  }

  nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 4px 6px;
    margin-bottom: 1rem;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

.traffic-light {
    width: 100px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0.8rem;
    border-radius: 20px;
    box-shadow: 2px 4px 6px;
    margin: 0 auto;
}

.color {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#red {
    background-color: hsl(0, 100%, 50%);
}

#yellow {
    background-color: hsl(60, 100%, 50%);
}

#green {
    background-color: hsl(120, 100%, 50%);
